/build*/
.cache/
.idea/
.vscode/
/include/substrait/
/substrait/proto/
.devcontainer/*
!.devcontainer/Dockerfile
!.devcontainer/setup-devcontainer.sh
!.devcontainer/aarch64/**/*
!.devcontainer/x86_64/**/*
compile_commands.json
/rust/target/
/rust/producer/target/
/rust/output/
Cargo.lock

# Emacs directory configuration
.dir-locals.el
