/build/
.cache/
.idea/
.vscode/
/include/substrait/
/proto/
.devcontainer
compile_commands.json
/rust/target/
/rust/producer/target/
/rust/output/
Cargo.lock

# Emacs directory configuration
.dir-locals.el
